<section class="products">
  {{#if emailSession}}

    <h4>Hello, {{firstNameSession}}. Your role is {{roleSession}}</h4>
    <a href="/logout"><button>LogOut</button></a>
  {{/if}}
  <h1>ALL PRODUCTS</h1>

  <div class="all-products">
    {{#each productsView.prodsPaginated}}
      <div class="product">
        <img src={{this.thumbnail}} alt="img-product" />
        <div class="product-info">
          <h4 class="product-title">{{this.title}}</h4>
          <p><span>price <i class="fa-solid fa-arrow-down"></i></span><br
            />${{this.price}}(ARS)/k</p>
          <a href="/products/{{this._id}}"><button>Details</button></a>
          <button onclick="main('{{this._id}}')">Add to Cart</button>
        </div>
      </div>
    {{/each}}
  </div>
  <h3>pagination</h3>
  <div>
    {{#if productsView.hasPrevPage}}
      <a href="/products?querypage={{productsView.prevPage}}&limit={{productsView.limit}}">⬅️</a>
    {{/if}}
    page
    {{productsView.page}}
    of
    {{productsView.totalPages}}
    {{#if productsView.hasNextPage}}
      <a href="/products?querypage={{productsView.nextPage}}&limit={{productsView.limit}}">➡️</a>
    {{/if}}

  </div>
</section>
<h3 class="titleForm"><i class="fa-solid fa-arrow-down"></i> PRODUCT MANAGER LIVE <i class="fa-solid fa-arrow-down"></i></h3>
<div class="containerForm">
    <form id="prodForm">
        <input type="text" id="form-title" placeholder="Product title" required>
        <input type="text" id="form-thumbnail" placeholder="Product thumbnail" required>
        <input type="text" id="form-description" placeholder="Product description" required>
        <input type="text" id="form-code" placeholder="Product code" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <input type="text" id="form-stock" placeholder="Product stock" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <input type="text" id="form-category" placeholder="Product category" required>
        <input type="text" id="form-price" placeholder="Product price" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <button class="btnAdd" type="submit" id="form-btn-add">Add product</button>
    </form>
    <div class="containerForm">
    <form id="prodFormDel">
        <input type="text" id="form-idProd" placeholder="Product id" required>
        <button class="btnDel" type="submit" id="form-btn-del">Delete product</button>
    </form>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
